.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .footer {
    height: 52px;
    width: 80%;
    border-radius: 20px;
    background: var(--tg-theme-secondary-bg-color, #C4C4C4);

    display: flex;
    justify-content: space-around;

    div {
      box-sizing: border-box;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
      align-items: center;

      p {
        font-size: 1.1cap;
      }
    }
  }
}
