<div class="header">
  @if (userData(); as user) {
      <div
        class="user-data"
        animate.enter="enter"
        (pointerdown)="showHideAccurate($event)"
        [class.accurate]="isShowAccurateScore()"
      >

        <span class="avatar">
          <img [src]="user.photo_url" />
        </span>
        <span class="score">
          @if (isSaving()) {
            <p
              class="loading-text"
              animate.enter="text-enter"
              animate.leave="text-leave"
            >Сохранение...</p>
          } @else {
            <p
              class="score-text"
              animate.enter="text-enter"
              animate.leave="text-leave"
            >{{ userScore() | shortNumber:isShowAccurateScore()}} лосяр</p>
          }
        </span>
      </div>
  }
</div>

