@use "../../assets/ios-scroll-fix" as fix;

.container {
  @include fix.fix;

  display: flex;
  flex-direction: column;

  padding-top: var(--tg-safe-area-inset-top);
  padding-left: var(--tg-safe-area-inset-left);
  padding-right: var(--tg-safe-area-inset-right);
  padding-bottom: calc(160px + var(--tg-safe-area-inset-bottom));

  width: 100%;
  gap: 20px;

  hr {
    color: var(--tg-theme-section-separator-color);
  }

  .improvements, .currencies {
    h2 {
      align-self: flex-start;
      margin-left: 12px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
