.container {
  display: flex;
  flex-direction: column;

  background-color: var(--tg-theme-secondary-bg-color);

  padding-top: max(12px, var(--tg-content-safe-area-inset-top, 0px));
  padding-bottom: var(--tg-content-safe-area-inset-bottom);
  padding-left: 0;
  padding-right: 0;
  border-radius: 12px;
  margin-top: 20px;

  width: 100%;
  min-height: 100%;
  height: auto;
  flex-grow: 1;

  app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
