@import "tgColors";

.container {
  display: flex;
  flex-direction: column;

  background-color: $tg-secondary-bg-color;

  padding-top: max(12px, var(--tg-content-safe-area-inset-top, 0px));
  padding-bottom: var(--tg-content-safe-area-inset-bottom);
  padding-left: 0;
  padding-right: 0;
  border-radius: 12px;
  margin-top: 20px;

  width: 100%;
  flex: 1;
  min-height: 0;
  overflow: hidden;

  app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      /* Создаем градиентную маску для плавного перехода эффекта */
      mask-image: linear-gradient(to top, black 30%, transparent 100%);
      -webkit-mask-image: linear-gradient(to top, black 30%, transparent 100%);

      z-index: -1; /* Ставим под контент блока */
    }
  }
}
