@import "tgColors";

.team {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 90%;
  padding: 12px;
  border-radius: 12px;
  background: $tg-section-bg-color;
  margin: 0 auto;
  align-self: center;
  max-height: 200px;
  color: $tg-text-color;

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-self: flex-end;

    button {
      background: $tg-button-color;
      border: none;
      outline: none;
      color: $tg-button-text-color;
      padding: 8px 16px;
      border-radius: 12px;
    }
  }
}
